body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6rem;
  }

h1, h2 {
    color: #333;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 30px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    
    main {
        width: 95%;
        padding: 15px;
    }
    
    h1, h2 {
        font-size: 1.5em;
    }
    
    ul {
        padding-left: 15px;
    }
}

.screenshots img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

